

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Charts {
  display: inline-block;
  /* min-height: 80vh; */
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  padding: 20px;
  color: rgba(213, 50, 80, 0.6)
}

/* .chartjs-render-monitor {
  min-height: 50vh;

  padding: 10px;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
